# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/

# MTA/CF build output
resources/
mta_archives/
*.mtar

# Deploy operation logs downloaded by cf dmol
mta-op-*/

# Generated zipped HTML5 app folder/artifact
zemailtemplateapp-*/

# environment
.env
.env.*

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

test/